/*AddToTask these are the styles for the add To Task Sub Page of the canban-board*/

.add-task-container {
    width: 100%;
}

.add-to-task-sub-menu {
    padding-top: 80px;
    padding-left: 50px;
}

.add-to-task-sub-menu p {
    font-size: 14px;
    color: rgb(14, 11, 167);
}

.task-input-container {
    background-color: rgb(233, 233, 241);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
}

.form-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 16px;
    padding-bottom: 40px;
}

.form-field input {
    height: 50px;
    width: 400px;
    outline: none;
}

.form-field select {
    height: 50px;
    width: 405px;
    outline: none;
}

.form-field textarea {
    resize: none;
    outline: none;
    width: 405px;
    height: 180px;
}

.form-field h2 {
    color: rgb(0, 0, 116);
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.form-field div {
    padding-right: 150px;
}

.mgn-t {
    margin-top: 20px;
}

.mgn-l {
    margin-left: 20px;
}

.assignment-container {
    padding-top: 80px;
}

.assignment-container img {
    height: 45px;
    width: 45px;
}

.assignment-container img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.assignment-button-container {
    display: flex;
    align-items: center;
}

.assign-button {
    cursor: pointer;
    height: 50px;
    width: 130px;
    color: white;
    font-weight: bold;
    background-color: rgb(34, 49, 139);
    border-radius: 8px;
    border-style: none;
}

.assign-button:hover {
    transform: scale(1.01);
    background-color: rgb(47, 68, 185);
}

.cancel-button {
    cursor: pointer;
    height: 50px;
    width: 130px;
    color: rgb(34, 49, 139);
    font-weight: bold;
    background-color: rgba(34, 50, 139, 0);
    border-radius: 8px;
    border-style: none;
}

.cancel-button:hover {
    color: rgb(59, 84, 228);
}