/*AddToTask these are the styles for the add To Task Sub Page of the canban-board*/

.add-task-container {
    width: 100%;
}

.add-to-task-sub-menu {
    padding-top: 80px;
    padding-left: 50px;
}

.task-input-container {
    background-color: rgb(233, 233, 241);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
}

.form-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
}

.form-field h2 {
    color: rgb(0, 0, 116);
    font-size: 16px;
}

.mgn-t {
    margin-top: 20px;
}

.mgn-l {
    margin-left: 20px;
}