.backlog-sub-menu {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.backlog-sub-menu p {
    font-size: 14px;
    /* color: rgb(14, 11, 167); */
    color: var(--col-blue1);
}

.backlog-titles {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    /* color: rgb(14, 11, 167); */
    color: var(--col-blue1);
    /* text-transform: uppercase; */
}

.backlog-titles div {
    width: 33%;
    align-self: center;
}

.log {
    position: relative;
    background-color: rgb(233, 233, 241);
    width: 100%;
    height: 75px;
    border-radius: 6px;
    border-left: 4px solid rgb(14, 11, 167);
    display: flex;
    padding: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    color: var(--col-main);
}

.log:hover {
    transform: scale(1.01);
    background-color: rgba(197, 197, 197);
    color: black;
}

.log div {
    width: 33%;
    align-self: center;
    max-height: 100%;
    overflow: auto;
}

.log p {
    overflow: auto;
    color: inherit;
}

.backlog-arrow {
    position: absolute;
    right: 40px;
    bottom: 22px;
}