.backlog-sub-menu {
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.backlog-sub-menu p {
    font-size: 14px;
    /* color: rgb(14, 11, 167); */
    color: var(--col-blue1);
}

.backlog-titles {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    /* color: rgb(14, 11, 167); */
    color: var(--col-blue1);
    /* text-transform: uppercase; */
    width: 95%;
    margin-top: 28px;
}

.backlog-titles div {
    width: 33%;
    align-self: center;
}

.log {
    position: relative;
    background-color: rgb(233, 233, 241);
    width: 95%;
    height: 80px;
    border-radius: 6px;
    /* border-left: 5px solid rgb(14, 11, 167); */
    border-left: 6px solid white;
    display: flex;
    padding: 8px;
    padding-right: 38px; /*space for backlog-buttons absolute*/
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    color: var(--col-main);
    /* box-sizing: border-box; */
    clip-path: inset(-4px -4px -4px 0px); /* TEST: clips div --> so here it clips the box-shadow(4px) from left side */
}

.log:hover {
    transform: scale(1.01);
    background-color: rgba(197, 197, 197);
    color: black;
}

.log div {
    width: 33%;
    align-self: center;
    max-height: 100%;
    overflow: auto;
}

.log p {
    overflow: auto;
    color: inherit;
    padding-right: 4px;
}

.backlog-buttons {
    width: unset !important;
    position: absolute;
    float: right;
    right: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}

.delete-backlog {
    width: 27px;
    margin-bottom: 2px;
}

.backlog-arrow {
    cursor: pointer;
    width: 27px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.delete-backlog:hover {
    transform: scale(1.02);
}

.backlog-arrow:hover {
    transform: scale(1.03);
}