.board-container {
    width: 100%;
}

.board-sub-menu {
    padding-top: 80px;
    padding-left: 50px;
}

.board-sub-menu p {
    font-size: 14px;
    color: rgb(14, 11, 167);
}

.board-content {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.board-content h2 {
    padding-bottom: 8px;
    font-size: 17px;
    text-align: center;
}

.board-task-container {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 200px;
    min-height: 550px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 241);
}