.help-container {
    padding: var(--padding-top) 50px;
}

.help-header p {
    font-size: 14px;
    /* color: rgb(14, 11, 167); */
    color: var(--col-blue1);
    margin-bottom: 16px;
}

.help-list-container {
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.help-list {
    margin-top: 2em;
}

.help-sublist {
    margin-left: 6em;
    margin-top: 1em;
}

.help-subheadlines {
    margin-left: 2.5em;
    margin-top: 1em;
}

.help-description {
    margin-left: 3em;
}

.help-colors-yellow {
    background-color: var(--col-yellow1);
    color: black;
    padding: 2px 4px;
}

.help-colors-red {
    background-color: var(--col-red1);
    color: black;
    padding: 2px 4px;
}

.help-colors-green {
    background-color: var(--col-green1);
    color: black;
    padding: 2px 4px;
}