.help-container {
    margin-left: 5em;
    margin-top: 4em;
}

.help-header p {
    font-size: 14px;
    /* color: rgb(14, 11, 167); */
    color: var(--col-blue1);
}

.help-list-container {
    margin-left: 5em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.help-list {
    margin-top: 2em;
}

.help-sublist {
    margin-left: 6em;
    margin-top: 1em;
}

.help-subheadlines {
    margin-left: 2.5em;
    margin-top: 1em;
}

.help-description {
    margin-left: 3em;
}

.help-colors-yellow {
    background-color: rgba(255, 255, 0, 0.6);
}

.help-colors-red {
    background-color: rgba(228, 87, 87, 0.6);
}

.help-colors-green {
    background-color: rgba(0, 128, 0, 0.6);
}