@media (min-width: 970px) {
    .hide-mainpage {
        display: none;
    }
}

@media (max-width: 1363px) {
    .board-header {
        padding-left: 0 !important;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .add-task-form {
        flex-direction: column;
    }
    .add-to-task-sub-menu {
        text-align: center;
    }
    .form-field > div {
        width: 90%;
    }

}

@media (max-width: 1025px) {
    .form-field {
        flex-direction: column;
        align-items: center;
    }
    .edit-form{
        flex-direction: column !important;
        overflow: auto;
        height: 75vh !important;
    }

    .add-to-task-sub-menu {
        text-align: center;
        /* padding-top: 85px;
        padding-bottom: 55px; */
    }
}

@media (max-width: 720px) {
    .welcome-text {
        font-size: 14px;
    }
}

@media (max-width: 970px) {

    :root{
        --padding-top: 80px;
    }
    /* mobile-changes */
    .hide-mobile {
        display: none;
    }
    .nav-bar-mobile {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
    .nav-bar-mobile-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
    }
    .mobile-menu {
        height: 32px;
        position: absolute;
        top: 11px;
        right: 50px;
        cursor: pointer;
    }
    .mobile-x {
        position: absolute;
        top: 10px;
        right: 50px;
        cursor: pointer;
    }
    .mobile-logo {
        height: 40px;
        padding: 5px;

        position: absolute;
        top: 2px;
        left: 50px;
    }
    .navbar-container {
        height: 90vh;
        padding-top: 10vh;
        position: absolute;
        /* background-color: rgb(3, 4, 94, 0.5); */
    }
    /* start-page */
    .welcome-text {
        padding-top: 40px;
        /* height: 28vh; */
    }
    .card {
        height: 18vh;
    }
    .backlog-buttons {
        display: flex;
        flex-direction: column;
        right: 0px;
    }
    .delete-backlog {
        width: 25px;
    }
    .backlog-arrow {
        width: 25px;
        padding-bottom: 10px;
    }
    .backlog-titles {
        padding-left: 8px;
    }
    .log h4 {
        font-size: 12px;
    }
    .category {
        padding-left: 8px;
    }
    /* adjust headline */
    .board-header {
        padding-top: 85px;
        padding-left: 0 !important;
        text-align: center;
    }
    .backlog-sub-menu {
        padding-top: 85px;
    }
    /* .backlog-sub-menu h1, .backlog-sub-menu p {
        text-align: center;
    } */
    .add-to-task-sub-menu {
        text-align: center;
        padding-top: 85px;
        padding-bottom: 55px;
    }
    .task-submit-success {
        top: 50px;
    }

    .mobile-onclick-navbar-footer{
        /* text-align: center; */
        margin: 8px 0;
        padding-left: 50px;
    }

    .mobile-onclick-navbar-footer a {
        padding-left:0;
    }
}

@media (max-width: 700px){
    .board-content{
        flex-wrap: wrap;
        gap: 60px  0px;
        justify-content: center;
    }
    .board-scroll-container {
        box-shadow: 0px 3px 3px 1px rgb(201, 204, 213, 0.3);
    }
    .board-container{
        text-align: center;
        padding-left:25px;
        padding-right:25px;
    }
    
    .backlog-container{
        text-align: center;
    }
}

@media (max-width: 626px){
    .board-content{
        gap: 60px 8px;
    }
    .board-container {
        padding-left:0;
        padding-right:0;
    }
}

@media (max-width: 600px) {
    /* Add Task mobile view */
    .form-field div {
        padding-right: 0;
    }
    .add-to-task-sub-menu {
        padding: 80px 10px;
    }
    .task-input-wrap {
        margin-top: -2em;
    }
    .board-header {
        padding-left: 0 !important;
        text-align: center;
    }
    /* overflow hidden while opening mobile-menu */
    .board-container {
        overflow: hidden;
    }
    .board-scroll-container{
        box-shadow: none;
    }
    .backlog-sub-menu {
        overflow: hidden;
    }
    .add-task-container {
        overflow: hidden;
    }
    .help-container {
        overflow: hidden;
        margin-left: 1em;
        margin-top: 4em;
    }
    .impressum-container {
        overflow: hidden;
    }
    .datenschutz-container {
        overflow: hidden;
    }
    /* help-section respnsive */
    .help-header {
        margin-right: 1em;
    }
    .help-list-container {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 3em;
    }
    .help-subheadlines {
        margin-left: 1.5em;
    }
    .help-sublist {
        margin-left: 4em;
    }
    /* Backlog responsive */
    h2 {
        font-size: 1em;
    }
    .backlog-sub-menu {
        padding-left: 5px;
        padding-right: 42px;
    }
    .hide-long-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden !important;
    }
    /* impressum */
    .impressum-sub-menu {
        padding-left: 25px;
        padding-right: 25px;
    }
    .impressum {
        padding-left: 25px;
        padding-right: 25px;
    }
    /* datenschutz */
    .datenschutz-sub-menu {
        padding-left: 25px;
        padding-right: 25px;
    }
    .datenschutz {
        padding-left: 30px;
        padding-right: 30px;
    }
    .task-description-text {
        padding-bottom: 10px;
    }
    .move-to-btn {
        margin-bottom: 20px;
    }
    .move-to {
        display: unset;
        padding-top: 50px;
    }
    .move-to img {
        width: 24px;
    }
    .move-to img:hover {
        transform: scale(1.05);
    }
    .move-button-box {
        /* padding-top: 0px; */
        margin-top: -24px;
        margin-bottom: 32px;
    }
    .move-button {
        font-weight: bold;
        height: 20px;
        width: 70%;
        border-radius: 12px;
        background-color: rgb(208, 233, 255);
        border: none;
    }
    .move-button:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
    .move-button-box-transition-in {
        animation: trans-in 600ms;
    }
    @keyframes trans-in {
        0% {
            transform: translateY(150px)
        }
        70% {
            transform: translateY(0px);
        }
    }
    .move-button-box-transition-out {
        animation: trans-out 600ms;
    }
    @keyframes trans-out {
        0% {
            transform: translateY(0px)
        }
        70% {
            transform: translateY(-150px);
        }
    }
    /* Scrollbar */
    .scroll-bar::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .welcome-text {
        font-size: 14px;
    }
    .welcome {
        padding-top: 3vh;
    }
    .scroll-bar {
        overflow-y: auto;
        max-height: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .board-task-container {
        min-height: 200px;
    }
    .members {
        margin-bottom: 5px;
    }
}

@media (max-width: 500px){
    .card-wrapper{
        width: 100%;
        background: transparent;
    }
    .welcome-card {
        background-color: rgba(0,0,0,0.8);
        height:100%;
    }
    .form-field {
        width: 75vw;
    }
    .form-field > div {
        width: 80%;
    }
}

@media (max-width: 400px){

    .mobile-menu {
        right:25px;
    }

    .mobile-logo{
        left: 25px;
    }

    .backlog-container {
        padding-left: 25px;
        padding-right: 25px;

        overflow-x: hidden;
    }

    .backlog-container h2{
        font-size: 14px;
    }

    .log{
        width: 90%;
        height:125px;
        height:auto;
        padding-bottom: 40px;
        padding-right: 8px;
        margin-right: 0;
        justify-content:center;
        align-items:flex-start;
        gap:8px;
    }

    .log p {
        font-size: 13px;
    }

    .log-section::-webkit-scrollbar{
        height:6px;
    }

    .backlog-buttons {
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        bottom: 6px;
        left: 8px; right: 8px;
        box-sizing: border-box;
    }

    .backlog-arrow{
        margin:0; padding:0;
        /* position: relative;
        top:8px; */
    }

    .delete-backlog {
        margin:0;
    }

}
