@media (min-width: 970px) {
    .hide-mainpage {
        display: none;
    }
}

@media (max-width: 1200px) {
    .form-field {
        flex-direction: column;
    }
}

@media (max-width: 970px) {
    /* mobile-changes */
    .hide-mobile {
        display: none;
    }
    .nav-bar-mobile {
        background-color: rgb(30, 30, 171);
        position: fixed;
        z-index: 100;
    }
    .nav-bar-mobile-content {
        height: 6vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu {
        height: 25px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .mobile-x {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .mobile-logo {
        height: 40px;
    }
    .navbar-container {
        height: 90vh;
        padding-top: 10vh;
    }
    /* start-page */
    .welcome-text {
        padding-top: 4vh;
    }
    .card {
        height: 19vh;
    }
}

@media (max-width: 600px) {
    /* Add Task mobile view */
    .form-field div {
        padding-right: 0;
    }
    .form-field input {
        width: 75vw;
    }
    .form-field select {
        width: 78vw;
    }
    .form-field textarea {
        width: 76vw;
    }
    /* overflow hidden while opening mobile-menu */
    .board-container {
        overflow: hidden;
    }
    .backlog-sub-menu {
        overflow: hidden;
    }
    .add-task-container {
        overflow: hidden;
    }
    .help-container {
        overflow: hidden;
        margin-left: 1em;
        margin-top: 4em;
    }
    .impressum-container {
        overflow: hidden;
    }
    .datenschutz-container {
        overflow: hidden;
    }
    /* help-section respnsive */
    .help-header {
        margin-right: 1em;
    }
    .help-list-container {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 3em;
    }
    .help-subheadlines {
        margin-left: 1.5em;
    }
    .help-sublist {
        margin-left: 4em;
    }
    /* Backlog responsive */
    h2 {
        font-size: 1em;
    }
    .backlog-sub-menu {
        padding-left: 15px;
        padding-right: 40px;
    }
    .hide-long-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden !important;
    }
    /* impressum */
    .impressum-sub-menu {
        padding-left: 25px;
        padding-right: 25px;
    }
    .impressum {
        padding-left: 25px;
        padding-right: 25px;
    }
    /* datenschutz */
    .datenschutz-sub-menu {
        padding-left: 25px;
        padding-right: 25px;
    }
    .datenschutz {
        padding-left: 30px;
        padding-right: 30px;
    }
    .task-description-text {
        padding-bottom: 10px;
    }
    .move-to {
        display: unset;
        padding-top: 50px;
    }
    .move-to img {
        width: 24px;
    }
    .move-button-box {
        padding-bottom: 5px;
    }
    .move-button {
        font-weight: bold;
        height: 20px;
        width: 70%;
        border-radius: 12px;
        background-color: rgb(208, 233, 255);
        border: none;
    }
    .move-button:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
    .move-button-box-transition-in {
        animation: trans-in 600ms;
    }
    @keyframes trans-in {
        0% {
            transform: translateY(150px)
        }
        70% {
            transform: translateY(0px);
        }
    }
    .move-button-box-transition-out {
        animation: trans-out 600ms;
    }
    @keyframes trans-out {
        0% {
            transform: translateY(0px)
        }
        70% {
            transform: translateY(-150px);
        }
    }
    /* Scrollbar */
    .scroll-bar::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}