/* global css variables
 Here we can define the basic color scheme (and other repeatet stuff) of our page */


/* color scheme example: https://colorhunt.co/palette/533e85488fb14fd3c4c1f8cf (if 19.04) */

:root {
    /*** opacities ***/
    --opacity0: 1;
    /* --opacity: 1; */
    /*** font-colors ***/
    --col-main: #42526E;
    --col-secondary: #515151;
    --col-tertiary: #9a9a9a;
    /*** colors ***/
    --col-blue1: rgb(3, 4, 94);
    --col-lightblue: #4589FF;
    --col-darkblue: #2A3647;
    --col-white: rgb(233, 233, 241);
    /* TEST: can vars in vars be adapted as needed in classes? nope */
    /* --col-blue1: rgba(75, 62, 133, var(opacity)); */
    --col-blue2: #488FB1;
    --col-blue3: #C1F8CF;
    --col-teal: #4FD3C4;
    --col-green1: #57CC99;
    --col-red1: #EB5353;
    --col-orange1: #fb6100;
    --col-yellow1: #FFE162;
    /* "led" background-lighting */
    --led-priority0: 0 0 4px 2px rgba(0, 255, 221, 0.7);
    --led-priority1: 0 0 3px 2px rgb(251, 255, 0, 0.7);
    /* --led-priority2: 0 0 3px 1px rgb(255, 0, 0, 0.7); */
    --led-priority2: 0 0 4px 2px rgba(255, 105, 86, 0.7);
    /* alternativ*/
    /*** border-radius ***/
    /* 1rem ^= 16px (if not defined otherwise) */
    --br-main: 0.25rem;
    --br-secondary: 0.25rem;
    /*** fonts ***/
    --font-main: 'PT Sans', Helvetica, Arial, sans-serif;
    /*--font-secondary: */
    /*** box-shadows ***/
    --shadow-light: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    --padding-top: 40px;
}


/*** general ***/

* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    /* color: var(--col-main); */
    color: white;
    color: var(--col-main);
    font-family: var(--font-main);
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    position: relative;
    /* background-color: rgba(211, 222, 220,0.9); */
    /* background-color: rgba(200, 198, 198); */
    background-color: rgba(53, 87, 107, 0.6);
    background: white; 
    /* background: #C9CCD5; */
    overflow: auto;
}

img {
    /* ensures that the image is never larger than its container */
    max-width: 100%;
    /* ensures that the image keeps its aspect ratio */
    height: auto;
}

input,
textarea,
select {
    outline: none;
    border: none;
    box-shadow: 0 0 2px 1px rgb(128, 128, 128, 0.5);
}

option {
    padding: 4px 0;
}


/*** impressum ***/

.impressum-container {
    padding: var(--padding-top) 50px;
}

.impressum-sub-menu {
    padding-bottom: 40px;
}

.impressum-sub-menu p {
    font-size: 14px;
    /* color: rgb(14, 11, 167); */
    color: var(--col-blue1);
}

.impressum {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* font-size: 20px; */
    
}

/*** dataprotection ***/

.datenschutz-container {
    padding: var(--padding-top) 50px;
}

.security-warning {
    padding: 40px 0 16px 0;
    /* font-weight: 600; */
}

.datenschutz-sub-menu p {
    /* color: rgb(14, 11, 167); */
    color: var(--col-blue1);
}

.datenschutz {
    display: flex;
    flex-direction: column;
}


/*** generic classes ***/

.d-none {
    display: none !important;
}


/*** footer ***/


/* this container ensures that the footer always stays in place 
see: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

.content-wrap {
    padding-bottom: 3rem;
    /* should match footer height */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 30px;
    width:100%;
}

.footer-content a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    color: rgb(233, 232, 232);
    cursor: pointer;
    background: linear-gradient(to right, rgb(201, 201, 201) 0%, rgb(255, 255, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 350ms ease;
    text-decoration: none;
    width:100%;
    padding-left:40px;
    box-sizing: border-box;
}

.footer-content a:hover {
    transition: 225ms ease-in-out;
    background-position: 0 100%;
    cursor: pointer;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Board mainpage */

/* NAVBAR & MENU */

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar-container {
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px 1px rgba(128, 128, 128, 0.9);
    background-color: var(--col-lightblue);
}

.navbar-header {
    width: 50px;
    margin-top: 44px;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

.navbar-menu-text {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    color: red;
    /* color: rgb(170, 170, 170); */
    margin-top: 2em;
    cursor: pointer;
    background: linear-gradient(to right, var(--col-blue1), var(--col-blue1), rgb(255, 255, 255) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 350ms ease;
    text-decoration: none;
    
    width:100%;
    padding-left:40px;
    box-sizing: border-box;
}

.navbar-menu-text:hover {
    transition: 225ms ease-in-out;
    background-position: 0 100%;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    /* position:relative; */
}

/* mobile-bar-onclick-navbar */

.nav-bar-mobile {
    height: 55px;
    background-color: var(--col-lightblue);
}

.nav-bar-mobile-content {
    background-color: var(--col-lightblue);
    padding:0 50px;
    box-shadow: 0 0 3px 1px rgb(128, 128, 128, 0.3);
}

.mobile-onclick-navbar {
    position: fixed;
    top: 50px;
    z-index: 50;
    /* background-color: rgb(3, 4, 94, 0.75); */
    background-color: var(--col-lightblue);
    width: 100%;
    padding: 16px 0;
}

.mobile-onclick-navbar-links {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 50px;
    
}

.mobile-navbar-menu-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 0.5em;
    cursor: pointer;
    background: linear-gradient(to right, var(--col-blue1), var(--col-blue1), rgb(255, 255, 255) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 350ms ease;
    text-decoration: none;
}


.mobile-navbar-menu-text:hover {
    /* transform: scale(1.1); */
    transition: 225ms ease-in-out;
    background-position: 0 100%;
    cursor: pointer;
}

/* mainpage-style */

.mainpage-start {
    display: flex;
}

.main-wrap {
    width: 100vw;
    height: 100vh;

    background-image: url("../img/create.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    font-family: 'PT Sans';
}

/* .welcome {
    padding-top: 4vh;
}

.links-wrap {
    overflow: hidden;
}

.links-wrap a {
    color: white;
}

.card {
    width: 100%;
    height: 25vh;
    background-color: #333;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.card::after {
    content:'';
    position:absolute;
    top:0;bottom:0;
    left:0;right:0;
    background: rgba(0,0,0,0.5);
}

.card-center {
    display: flex;
}

.card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: transform 0.75s;
}

.card:hover .card-image {
    transform: scale(1.15);
    opacity: 0.8;
}

.card-title {
    color: white;
    z-index: 2;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
} */

.welcome-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-wrapper {
    width: 500px;
    background: rgba(0, 0, 0, 0.8);
    /*       margin: 12% auto; */
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.text-wrapper {
    margin: 25px 50px 30px 50px;
}

.btn {
    margin: 20px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    background: rgba(189, 189, 189, 0.5);
}

.highlight {
    font-weight: 600;
}

.main-wrap h1 {
    text-align: center;
    margin: 0;
}

.main-wrap p {
    text-align: center;
    margin: 16px 0;
    /* font-weight: bold; */
}

.main-wrap a {
    color: white;
}


/* modal-overlay */

#overlay {
    position: fixed;
    inset: 0;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* padding-top:30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* background-color: rgba(75, 62, 133, 0.75); */
    background-color: rgba(14, 11, 167, 0.5);
    /* --opacity: 0.5;
    background-color: var(--col-blue1); */
    /* overflow: auto; */
}


/* edit form in overlay field */

.edit-task-headline {
    text-align: center;
    /* width:100%;
    line-break: after; */
    color: white;
}

.form-section {
    /* align-self: center; */
    padding: 0 8px !important;
}

.edit-form {
    margin: 20px;
    margin-top: 0 !important;
    /* padding-bottom: 40px; */
    background-color: rgb(233, 233, 241);
    border-radius: 12px;
}

.edit-form .assignment-container {
    padding-top: 0;
}

/* scrollbar-mainpage */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: aliceblue;
    background: #C9CCD5;
    border-radius: 4px;
    margin: 10px 0;
}

::-webkit-scrollbar-thumb {
    background: var(--col-blue1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .75);
    background: rgb(3, 4, 94, 0.5);
}