/* global css variables
 Here we can define the basic color scheme (and other repeatet stuff) of our page */


/* color scheme example: https://colorhunt.co/palette/533e85488fb14fd3c4c1f8cf (if 19.04) */

:root {
    /*** font-colors ***/
    --col-main: #141E27;
    --col-secondary: #515151;
    --col-tertiary: #9a9a9a;
    /*** colors ***/
    --col-blue1: #533E85;
    --col-blue2: #488FB1;
    --col-blue3: #C1F8CF;
    --col-teal: #4FD3C4;
    /*** border-radius ***/
    /* 1rem ^= 16px (if not defined otherwise) */
    --br-main: 0.25rem;
    --br-secondary: 0.25rem;
    /*** fonts ***/
    --font-main: 'PT Sans', Helvetica, Arial, sans-serif;
    /*--font-secondary: */
    /*** box-shadows ***/
    --shadow-light: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}


/*** general ***/

body {
    color: var(--col-main);
    font-family: var(--font-main);
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

p {
    color: var(--col-secondary);
}

img {
    /* ensures that the image is never larger than its container */
    max-width: 100%;
    /* ensures that the image keeps its aspect ratio */
    height: auto;
}


/*** generic classes ***/

.d-none {
    display: none;
}


/*** footer ***/


/* this container ensures that the footer always stays in place 
see: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

.content-wrap {
    padding-bottom: 3rem;
    /* should match footer height */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 30px;
}

.footer-content a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Board mainpage */

.navbar-container {
    height: 100vh;
    width: 8vw;
    background-color: rgb(30, 30, 171);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-header {
    width: 50px;
    margin-top: 2em;
    margin-bottom: 5em;
}

a {
    text-decoration: none;
}

.navbar-menu-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 2em;
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 50%, rgb(153, 153, 153) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 350ms ease;
    text-decoration: none;
}

.navbar-menu-text:hover {
    transform: scale(1.1);
    transition: 225ms ease-in-out;
    background-position: 0 100%;
    cursor: pointer;
}


/*AddToTask these are the styles for the add To Task Sub Page of the canban-board*/

.menu {
    display: flex;
    flex-direction: row;
}

.form-field {
    display: flex;
    flex-direction: row;
}

.mgn-t {
    margin-top: 20px;
}

.mgn-l {
    margin-left: 20px;
}